:root {
  --font-primary: "Poppins";
  --light-primary: #ffffff;
  --dark-primary: #151517;
  --dark-secondary: #2F2F2F;
  --middle-primary: #828282;
  --middle-secondary: #e9e9e9;
  --accident-primary: #EEBF63;
  --accident-secondary: #8ED2A9;
}

/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins/poppins-v21-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins/poppins-v21-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v21-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v21-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v21-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-primary) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-primary);
  border-radius: 20px;
  border: 3px solid var(--accident-primary);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--accident-primary) var(--dark-primary);
}

.title--primary {
  font-size: calc(28px + 20 * (100vw - 320px) / 1120);
}
.title--secondary {
  font-size: calc(24px + 12 * (100vw - 320px) / 1120);
}
.title--thidly {
  font-size: calc(18px + 6 * (100vw - 320px) / 1120);
}
.title--light {
  color: var(--light-primary);
}
.title--dark {
  color: var(--dark-secondary);
}
.title--middle {
  color: var(--middle-primary);
}
.title--color {
  color: var(--accident-primary);
}
.title--thin {
  font-weight: 300;
}
.title--regular {
  font-weight: 400;
}
.title--medium {
  font-weight: 500;
}
.title--semibold {
  font-weight: 600;
}
.title--bold {
  font-weight: 700;
}
.title--uppercase {
  text-transform: uppercase;
}
.title--center {
  text-align: center;
}
.title--elem {
  position: relative;
}
.title--elem::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  width: 100%;
  max-width: 374px;
  height: 100%;
  max-height: 25px;
  background: url(../img/elem_2.svg) no-repeat 50% 50%/contain;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .title--elem::before {
    left: 0;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .title--elem::before {
    left: 0;
  }
}
.desc--extralarge {
  font-size: calc(18px + 6 * (100vw - 320px) / 1120);
}
.desc--large {
  font-size: calc(16px + 2 * (100vw - 320px) / 1120);
}
.desc--normal {
  font-size: calc(14px + 2 * (100vw - 320px) / 1120);
}
.desc--extrasmall {
  font-size: calc(13px + 1 * (100vw - 320px) / 1120);
}
.desc--light {
  color: var(--light-primary);
}
.desc--dark {
  color: var(--dark-primary);
}
.desc--middle {
  color: var(--middle-primary);
}
.desc--color {
  color: var(--accident-primary);
}
.desc--colorScnd {
  color: var(--accident-secondary);
}
.desc--thin {
  font-weight: 300;
}
.desc--regular {
  font-weight: 400;
}
.desc--medium {
  font-weight: 500;
}
.desc--semibold {
  font-weight: 600;
}
.desc--bold {
  font-weight: 700;
}
.desc--uppercase {
  text-transform: uppercase;
}
.desc--center {
  text-align: center;
}

.btn--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  background-color: var(--accident-primary);
  border: 1px solid var(--accident-primary);
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn--primary:hover, .btn--primary:active, .btn--primary:focus {
  transition: all 0.3s ease-in-out;
  transform: scale(1.025);
}
.btn--secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  background-color: transparent;
  border: 1px solid var(--accident-primary);
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn--secondary:hover, .btn--secondary:active, .btn--secondary:focus {
  transition: all 0.3s ease-in-out;
  transform: scale(1.025);
}
.btn--text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn--text:hover, .btn--text:active, .btn--text:focus {
  transition: all 0.3s ease-in-out;
  transform: scale(1.025);
}
.btn--menu {
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background: transparent url(../img/menu.svg) no-repeat 50% 50%/contain;
  background-size: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.btn--menu:hover, .btn--menu:active, .btn--menu:focus {
  background: var(--accident-primary) url(../img/menu-light.svg) no-repeat 50% 50%/contain;
  background-size: 24px;
  transition: all 0.25s ease-in-out;
}
.btn--menu.active {
  background: var(--accident-primary) url(../img/close-light.svg) no-repeat 50% 50%/contain;
  background-size: 32px;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon--large {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.icon--normal {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.icon--small {
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo--header {
  width: 120px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section--header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999999;
}
@media screen and (min-width: 1440px) {
  .section--header {
    padding: 20px 200px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .section--header {
    padding: 20px 150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .section--header {
    padding: 20px 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .section--header {
    padding: 20px 50px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .section--header {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .section--header {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 374.98px) {
  .section--header {
    padding: 20px 20px;
  }
}
.section--promo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .section--promo {
    padding: 0 200px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .section--promo {
    padding: 0 150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .section--promo {
    padding: 0 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .section--promo {
    padding: 0 50px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .section--promo {
    padding: 40px 40px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .section--promo {
    padding: 0 20px 40px;
  }
}
@media screen and (max-width: 374.98px) {
  .section--promo {
    padding: 0 20px 40px;
  }
}
.section--content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .section--content {
    padding: 50px 200px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .section--content {
    padding: 50px 150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .section--content {
    padding: 50px 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .section--content {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .section--content {
    padding: 40px 40px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .section--content {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 374.98px) {
  .section--content {
    padding: 40px 20px;
  }
}
.section--footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--light-primary);
}
@media screen and (min-width: 1440px) {
  .section--footer {
    padding: 20px 200px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .section--footer {
    padding: 20px 150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .section--footer {
    padding: 20px 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .section--footer {
    padding: 20px 50px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .section--footer {
    padding: 20px 40px;
  }
  .section--footer a.btn {
    width: 100%;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .section--footer {
    padding: 20px 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 374.98px) {
  .section--footer {
    padding: 20px 20px;
    justify-content: center;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: auto;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767.98px) {
  .nav__list {
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    padding: 20px;
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    background-color: var(--light-primary);
    box-shadow: 0 0 5px 0 rgba(21, 21, 23, 0.15);
    z-index: 99999;
  }
  .nav__list.hide {
    display: none;
  }
}
.nav__item {
  width: 100%;
  flex: 1 1 calc(25% - 40px);
}
@media screen and (max-width: 767.98px) {
  .nav__item {
    flex: 1 1 100%;
  }
}
.nav__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}
.nav__link.active span.desc {
  color: var(--accident-primary);
}
.nav__link:hover span.desc, .nav__link:active span.desc, .nav__link:focus span.desc {
  color: var(--accident-primary);
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}

.promo__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .promo__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .promo__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .promo__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 374.98px) {
  .promo__list {
    flex-direction: column;
  }
}
.promo__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .promo__item {
    flex: 1 1 calc(50% - 40px);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .promo__item {
    flex: 1 1 calc(50% - 30px);
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .promo__item {
    flex: 1 1 calc(50% - 30px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .promo__item {
    flex: 1 1 calc(50% - 20px);
  }
  .promo__item:last-child {
    display: none;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .promo__item {
    flex: 1 1 100%;
    gap: 20px;
  }
  .promo__item:last-child {
    display: none;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .promo__item {
    flex: 1 1 100%;
    gap: 20px;
  }
  .promo__item:last-child {
    display: none;
  }
}
@media screen and (max-width: 374.98px) {
  .promo__item {
    flex: 1 1 100%;
    gap: 20px;
  }
  .promo__item:last-child {
    display: none;
  }
}
.promo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}
@media screen and (min-width: 600px) and (max-width: 767.98px) {
  .promo__header {
    align-items: center;
  }
}
@media screen and (min-width: 465px) and (max-width: 599.98px) {
  .promo__header {
    align-items: flex-start;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .promo__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
@media screen and (max-width: 374.98px) {
  .promo__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.promo__header--wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 464.98px) {
  .promo__header--wrap {
    order: 2;
  }
}
@media screen and (min-width: 992px) {
  .promo__header--img {
    display: none;
  }
}
.promo__header--img .promo__img {
  width: auto;
  height: 200px;
}
@media screen and (min-width: 600px) and (max-width: 767.98px) {
  .promo__header--img .promo__img {
    width: auto;
    height: 170px;
  }
}
@media screen and (min-width: 465px) and (max-width: 599.98px) {
  .promo__header--img .promo__img {
    position: absolute;
    top: -60%;
    right: 0;
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 464.98px) {
  .promo__header--img .promo__img {
    width: 100%;
    height: auto;
    order: 1;
  }
}
.promo__content {
  width: 100%;
  max-width: 575px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media screen and (max-width: 991.98px) {
  .promo__content {
    max-width: 100%;
  }
}
.promo__footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .promo__footer a.btn {
    width: 100%;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .promo__footer a.btn {
    width: 100%;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .promo__footer {
    flex-direction: column;
    gap: 20px;
  }
  .promo__footer a.btn {
    width: 100%;
  }
}
@media screen and (max-width: 374.98px) {
  .promo__footer {
    flex-direction: column;
    gap: 20px;
  }
  .promo__footer a.btn {
    width: 100%;
  }
}
.promo__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.promo__img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 100%;
  background: url(../img/elem_1.svg) no-repeat left bottom/contain;
  z-index: 0;
}
@media screen and (min-width: 1440px) {
  .promo__img::before {
    max-width: 245px;
    max-height: 180px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .promo__img::before {
    max-width: 220px;
    max-height: 120px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .promo__img::before {
    max-width: 220px;
    max-height: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .promo__img::before {
    max-width: auto;
    max-height: 180px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .promo__img::before {
    max-width: 200px;
    max-height: 60px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .promo__img::before {
    max-width: 120px;
    max-height: 120px;
  }
}
@media screen and (max-width: 374.98px) {
  .promo__img::before {
    max-width: 100px;
    max-height: 100px;
  }
}
.promo__img img.img {
  position: relative;
  z-index: 222;
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.social__item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.social__item:first-child {
  width: auto;
}
@media screen and (max-width: 374.98px) {
  .social__item:first-child {
    margin-right: auto;
  }
}
.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social__link img.icon {
  transition: all 0.3s ease-in-out;
}
.social__link img.icon:hover, .social__link img.icon:active, .social__link img.icon:focus {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.summary__wrap {
  width: 100%;
  display: grid;
  gap: 40px;
  border-radius: 45px;
  background-color: var(--middle-secondary);
}
@media screen and (min-width: 1440px) {
  .summary__wrap {
    padding: 60px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "avatar project" "avatar info";
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .summary__wrap {
    padding: 40px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "avatar project" "avatar info";
    gap: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .summary__wrap {
    padding: 25px;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar project" "avatar info";
    gap: 20px;
  }
}
@media screen and (min-width: 660px) and (max-width: 991.98px) {
  .summary__wrap {
    padding: 30px;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar project" "avatar info";
    gap: 20px;
  }
}
@media screen and (min-width: 465px) and (max-width: 659.98px) {
  .summary__wrap {
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar project" "info info";
    gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .summary__wrap {
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar avatar" "project project" "info info";
    gap: 20px;
  }
}
@media screen and (max-width: 374.98px) {
  .summary__wrap {
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar avatar" "project project" "info info";
    gap: 20px;
  }
}
.summary__avatar {
  grid-area: avatar;
}
.summary__project {
  grid-area: project;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
@media screen and (min-width: 660px) and (max-width: 991.98px) {
  .summary__project {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 465px) and (max-width: 659.98px) {
  .summary__project {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .summary__project {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 374.98px) {
  .summary__project {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.summary__reviews {
  grid-area: review;
}
.summary__desc {
  grid-area: info;
}
.summary__img {
  height: 100%;
}
.summary__img img.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.summary__info {
  display: flex;
  flex-direction: column;
}
.summary__info p.title {
  display: flex;
  align-items: center;
}
.summary__info p.title span.star {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  .summary__info p.desc {
    font-size: calc(18px + 6 * (100vw - 320px) / 1120);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .summary__info p.desc {
    font-size: calc(18px + 6 * (100vw - 320px) / 1120);
  }
}
.summary__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  .summary__footer p.title {
    font-size: calc(28px + 20 * (100vw - 320px) / 1120);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .summary__footer p.title {
    font-size: calc(28px + 20 * (100vw - 320px) / 1120);
  }
}
@media screen and (min-width: 1440px) {
  .summary__footer p.desc {
    font-size: calc(18px + 6 * (100vw - 320px) / 1120);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .summary__footer p.desc {
    font-size: calc(18px + 6 * (100vw - 320px) / 1120);
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .summary__footer p.desc {
    font-size: calc(14px + 2 * (100vw - 320px) / 1120);
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .summary__footer p.desc {
    font-size: calc(14px + 2 * (100vw - 320px) / 1120);
  }
}
@media screen and (max-width: 374.98px) {
  .summary__footer p.desc {
    font-size: calc(13px + 1 * (100vw - 320px) / 1120);
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .portfolio {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .portfolio {
    gap: 40px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .portfolio {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .portfolio {
    gap: 30px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .portfolio {
    gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .portfolio {
    gap: 20px;
  }
}
@media screen and (max-width: 374.98px) {
  .portfolio {
    gap: 20px;
  }
}
.portfolio__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.portfolio__header a.btn.hide {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .portfolio__header a.btn {
    display: none;
  }
}
.portfolio__list {
  width: 100%;
  display: grid;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .portfolio__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .portfolio__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 374.98px) {
  .portfolio__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .portfolio__footer {
    gap: 40px;
  }
  .portfolio__footer a.btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .portfolio__footer {
    gap: 40px;
  }
  .portfolio__footer a.btn {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .portfolio__footer {
    gap: 30px;
  }
  .portfolio__footer a.btn {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .portfolio__footer {
    gap: 30px;
  }
  .portfolio__footer a.btn {
    display: none;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .portfolio__footer {
    gap: 30px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .portfolio__footer {
    gap: 30px;
  }
}
@media screen and (max-width: 374.98px) {
  .portfolio__footer {
    gap: 30px;
  }
}
.portfolio__footer a.btn {
  max-width: 150px;
}
@media screen and (min-width: 1440px) {
  .portfolio__footer a.btn {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
  .portfolio__footer a.btn {
    gap: 40px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
  .portfolio__footer a.btn {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .portfolio__footer a.btn {
    gap: 20px;
  }
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
  .portfolio__footer a.btn {
    gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
  .portfolio__footer a.btn {
    gap: 20px;
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 374.98px) {
  .portfolio__footer a.btn {
    gap: 20px;
    width: 100%;
    max-width: 100%;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.card__header {
  border-radius: 30px;
  overflow: hidden;
}
.card__header img.img {
  border-radius: 30px;
}
.card__footer {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__footer--wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}
.card__footer--wrap p.desc {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.footer__item {
  width: 50px;
  height: 50px;
}
.footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer__link img.icon {
  transition: all 0.3s ease-in-out;
}
.footer__link img.icon:hover, .footer__link img.icon:active, .footer__link img.icon:focus {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-primary);
}