.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    &__header {
        border-radius: 30px;
        overflow: hidden;
        & img.img {
            border-radius: 30px;
        }
    }
    &__footer {
        padding: 10px 0 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--wrap {
            display: flex;
            align-items: center;
            gap: 40px;
            & p.desc {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}