.title {
    &--primary {
        font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1440 - 320)));
    }
    &--secondary {
        font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1440 - 320)));
    }
    &--thidly {
        font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
    }
    &--light {
        color: var(--light-primary);
    }
    &--dark {
        color: var(--dark-secondary);
    }
    &--middle {
        color: var(--middle-primary);
    }
    &--color {
        color: var(--accident-primary);
    }
    &--thin {
        font-weight: 300;
    }
    &--regular {
        font-weight: 400;
    }
    &--medium {
        font-weight: 500;
    }
    &--semibold {
        font-weight: 600;
    }
    &--bold {
        font-weight: 700;
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--center {
        text-align: center;
    }
    &--elem {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 5%;
            width: 100%;
            max-width: 374px;
            height: 100%;
            max-height: 25px;
            background: url(../img/elem_2.svg) no-repeat 50% 50% / contain;
            @media screen and (min-width: 1440px) {
            }
            @media screen and (min-width: 1280px) and (max-width: 1439.98px) {
            }
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
            }
            @media screen and (min-width: 465px) and (max-width: 767.98px) {
            }
            @media screen and (min-width: 375px) and (max-width: 464.98px) {
            }
            @media screen and (max-width: 374.98px) {
            }
        }
    }
}