.title {
    &--primary {
        font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
    }
    &--secondary {
        font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1440 - 320)));
    }
    &--thidly {
        font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
    }
    &--light {
        color: var(--light-primary);
    }
    &--dark {
        color: var(--dark-secondary);
    }
    &--middle {
        color: var(--middle-primary);
    }
    &--color {
        color: var(--accident-primary);
    }
    &--thin {
        font-weight: 300;
    }
    &--regular {
        font-weight: 400;
    }
    &--medium {
        font-weight: 500;
    }
    &--semibold {
        font-weight: 600;
    }
    &--bold {
        font-weight: 700;
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--center {
        text-align: center;
    }
}