:root {
    --font-primary: "Poppins";
    --light-primary: #ffffff;
    --dark-primary: #151517;
    --dark-secondary: #2F2F2F;
    --middle-primary: #828282;
    --middle-secondary: #e9e9e9;
    --accident-primary: #EEBF63;
    --accident-secondary: #8ED2A9;
}

@import "_fonts";
@import "_outline";
@import "_scrollbar";
@import "_title";
@import "_desc";
@import "_btn";
@import "_img";
@import "_icon";
@import "_logo";
@import "_section";
@import "_nav";
@import "_promo";
@import "_social";
@import "_summary";
@import "_portfolio";
@import "_card";
@import "_hire";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-primary);
}

@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
}
@media screen and (min-width: 992px) and (max-width: 1279.98px) {
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
@media screen and (min-width: 465px) and (max-width: 767.98px) {
}
@media screen and (min-width: 375px) and (max-width: 464.98px) {
}
@media screen and (max-width: 374.98px) {
}